<div class="world">
  <div class="hill">
    <svg width="800px" height="300px" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M40 320 Q 380 40 720 320" class="arc" fill="url(#gradient)"></path>
      <defs>
        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#333" />
          <stop offset="100%" stop-color="transparent" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
    <div class="decoration">
      <div>
        <img class="tomb" src="assets/tomb1.svg">
        <img class="tomb" src="assets/tomb2.svg">
      </div>
    </div>
  </div>
</div>
