<div class="content" role="main">

  <div class="menus">
    <ng-container *ngFor="let label of labels; let i = index">
      <div class="card" tabindex="0" (click)="changeActive(label)" [class.white]="i===1">
        <img class="icons" src="assets/ghost{{label}}.svg">
      </div>
    </ng-container>
    <div class="active">active: <img class="icons" src="assets/ghost{{active}}.svg"> </div>
  </div>

  <div class="corner">
    <div class="title">
      <div class="title1">unsubscribe</div>
      <div class="title2">しないこだれだ</div>
    </div>
    <div class="card send white" tabindex="0" (click)="onSend()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>おばけを送る</span>
    </div>
  </div>

  <div class="worlds" [ngSwitch]="active">
    <app-world *ngSwitchCase="1" [type]="active" [stream]="stream" [show]="show$"></app-world>
    <app-world *ngSwitchCase="2" [type]="active" [stream]="stream" [show]="show$"></app-world>
    <app-world *ngSwitchCase="3" [type]="active" [stream]="stream" [show]="show$"></app-world>
  </div>
</div>
